<app-header></app-header>
<a [routerLink]="['/newscontent']">newscontent</a>
<br />

<h1>news works! {{ title }}</h1>
<p>{{ msg }}</p>
<p>{{ userInfo }}</p>
<p>{{ student }}</p>
<h6>{{ userobj.username }}</h6>
<h6>{{ userobj.age }}</h6>
<h6>{{ userobj.address }}</h6>
<h5>{{ message }}</h5>
<hr />
<div [title]="title">zhangsan</div>
<div>{{ content }}</div>
<div [innerHtml]="content"></div>
<hr />
<div>{{ 1 + 3 }}</div>
<div *ngFor="let item of arr">{{ item }}</div>
<ul>
  <li *ngFor="let item of arr">{{ item }}</li>
</ul>

<ul>
  <li *ngFor="let item of userlist">
    {{ item.username }}-{{ item.age }}-{{ item.address }}
  </li>
</ul>

<ul>
  <li *ngFor="let item of cars">
    {{ item.cate }}
    <ul>
      <li *ngFor="let ite of item.list">{{ ite.title }}-{{ ite.price }}</li>
    </ul>
  </li>
</ul>
